<section class="flex flex-col w-full">
  <div class="lg:ml-40">
    @if (hour < 12) {
      <h1 class="font-bold lg:text-2xl">Good morning, John 👋</h1>
    } @else if (hour < 17) {
      <h1 class="font-bold">Good Afternoon, John 👋</h1>
    } @else if (hour < 21) {
      <h1 class="font-bold">Good Evening, John 👋</h1>
    } @else {
      <h1 class="font-bold">Good Night, John 👋</h1>
    }
    <p class="mb-4">Here's what's happening with your acccounts today.</p>
  </div>

  <div class="grid grid-cols-2 gap-1 lg:flex items-center justify-center">
    <div class="col-span-2 h-40 bg-white shadow-xl border border-green-200 p-4 rounded-2xl lg:w-70">
      <div class="flex items-center justify-between">
        <p class="font-medium mb-3">Total Balance</p>
        <lucide-angular [img]="Eye" class="text-right w-6 h-6 text-green-500"></lucide-angular>
      </div>
      <p class="font-bold">KES 530,000.20</p>
      <p class="text-[12px]"><span class="text-green-500">+12.5%</span> from last month</p>
    </div>
    <div class="max-lg:col-span-2 lg:flex items-center justify-center">
      <div class="flex items-center justify-between p-4 lg:hidden">
        <h2 class="font-medium">Accounts</h2>
        <a routerLink="accounts" class="text-green-500">View all</a>
      </div>
      @for (account of accounts; track account.type) {
        <div
          class="flex items-center justify-between bg-white shadow-xl border border-green-200 p-4 rounded-xl lg:w-70 lg:mx-2"
        >
          <div class="flex items-center justify-center gap-2 my-4">
            <lucide-angular [img]="account.icon" class="w-6 h-6 text-green-500"></lucide-angular>
            <div>
              <p class="max-md:text-[14px] font-medium">{{ account.name }}</p>
              <p class="text-[12px]">{{ account.number }}</p>
            </div>
          </div>
          <div class="mt-6">
            <p class="max-md:text-[14px] font-medium mt-2">KES {{ account.balance }}</p>
            <small>Available Balance</small>
          </div>
          <lucide-angular
            class="lg:hidden"
            routerLink="accounts"
            [img]="ChevronRight"
          ></lucide-angular>
        </div>
      }
    </div>
  </div>

  <div class="max-lg:flex-col space-x-2 my-4 lg:flex items-center justify-center">
    <div class="px-2 border-green-200 border rounded-xl shadow-xl p-4">
      <h2 class="font-medium m-2">Quick Actions</h2>
      <div class="grid grid-cols-2 grid-row-3 gap-2">
        @for (quickActions of quickActions; track quickActions.id) {
          <div class="p-2 rounded-xl border border-pink-200 shadow-md">
            <a class="flex items-center justify-center flex-col text-sm">
              <lucide-angular
                [img]="quickActions.icon"
                class="w-6 h-6 mb-2 text-green-500"
              ></lucide-angular>
              {{ quickActions.title }}
            </a>
          </div>
        }
      </div>
    </div>
    <div class="my-2 shadow-xl border border-green-200 rounded-2xl p-8">
      <div class="flex items-center justify-between mb-4">
        <h2 class="font-bold">Recent Transaction</h2>
        <button class="text-green-500">View all</button>
      </div>
      <div>
        <div class="flex items-center justify-between border-b border-green-400 p-2">
          <div>
            <h3 class="font-medium">Payment to safaricom</h3>
            <p class="text-[10px]">Mobile Bill</p>
          </div>
          <div>
            <p class="font-medium">-KES 1,200.00</p>
            <p class="text-[10px]">May 20, 2026</p>
          </div>
        </div>

        <div class="flex items-center justify-between border-b border-green-400 p-2">
          <div>
            <h3 class="font-medium">Salary Deposit</h3>
            <p class="text-[10px]">From ABC Company</p>
          </div>
          <div>
            <p class="font-medium text-green-500">+KES 85,000.00</p>
            <p class="text-[10px]">May 20, 2026</p>
          </div>
        </div>

        <div class="flex items-center justify-between border-b border-green-400 p-2">
          <div>
            <h3 class="font-medium">Payment to KPLC</h3>
            <p class="text-[10px]">Utilities</p>
          </div>
          <div>
            <p class="font-medium">-KES 2,250.00</p>
            <p class="text-[10px]">May 18, 2026</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="my-2">
        <div class="flex p-4 rounded-xl border border-green-200 shadow-md">
          <div>
            <h3 class="font-medium my-2">Grow your money</h3>
            <p>Start an investment plan today and secure your future.</p>

            <button class="p-2 my-2 bg-green-500 text-white rounded-xl">Invest Now</button>
          </div>
          <img src="invest.jpg" alt="invest" class="w-25 h-auto" />
        </div>
      </div>

      <div class="p-4 rounded-xl border border-green-200 shadow-md">
        <div class="flex items-center justify-between">
          <h2 class="font-medium">Announcements</h2>
          <button class="text-green-500">View all</button>
        </div>
        <div>
          <div class="flex items-center">
            <lucide-angular
              [img]="Bell"
              class="h-10 w-10 text-green-500 mx-2 bg-amber-100 rounded-full flex items-center justify-center"
            ></lucide-angular>
            <div>
              <p class="font-medium">Stay secure online</p>
              <p>Never share your PIN or OTP with anyone.</p>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
